.ingredient-pill {
    background-color: lightsalmon;
    border-style: solid;
    border-width: 1px;
}

.ingredient-text {
    text-align: center;
    padding: 4px 8px;
    margin: 0px;

}

.deleteBtn {
    background-color: inherit;
    border-style: none;
    border-left-style: solid;
    border-left-width: 1px;
}